#pin_show.row
  .col-md-8.col-md-offset-2
    .panel.panel-default
      .panel-heading.pin_image
        = image_tag @pin.image.url
      .panel-body
        %h1= @pin.title
        %p.description= @pin.description
      .panel-footer
        .row
          .col-md-6
            %p.user
            Submitted by
            = @pin.user.email
          .col-md-6
            .btn-group.pull-right
              = link_to like_pin_path(@pin), method: :put, class:'btn btn-default' do
                %span.glyphicon.glyphicon-heart
                  =@pin.get_upvotes.size
              - if user_signed_in?
                = link_to 'Back', root_path, class:'btn btn-default'
                = link_to 'Edit', edit_pin_path, class:'btn btn-default' # path to edit form
                = link_to 'Delete', pin_path, method: :delete, data: { confirm: 'Are you sure want to delete?'}, class:'btn btn-default'